*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font: 1em Helvetica, Arial, sans-serif;
    background-image:url(background.jpg);
    background-size: cover;
}
table{
	width:  1000px;
	margin: 30px auto;
}

table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

table img{
	width:  70%;
}

table td.total-price{
	font-weight: bold;
	font-size: 22px;
}
table a{
	text-decoration: none;
	color: darkred;
	background-color: #ffecef;
	padding: 10px 15px;
}
table a:active{
	background-color: #ccf4d6;
	color:  green;
}

table select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
	border: thin solid #d4d4d4;
	background-color: transparent;
}
table select:focus{
	outline: none;
}

table img{
	width:  60%;
}

.button{
	position:relative;
	display:inline-block;
	margin:20px;
  }
  
  .button{
	color:white;
	font-family:Helvetica, sans-serif;
	font-weight:bold;
	font-size:36px;
	text-align: center;
	text-decoration:none;
	background-color:#FFA12B;
	display:block;
	position:relative;
	padding:20px 40px;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-shadow: 0px 1px 0px #000;
	filter: dropshadow(color=#000, offx=0px, offy=1px);
	
	-webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	-moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }
  
  .button :active{
	top:10px;
	background-color:#F78900;
	
	-webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
	-moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
	box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
	content:"";
	height:100%;
	width:100%;
	padding:4px;
	position: absolute;
	bottom:-15px;
	left:-4px;
	z-index:-1;
	background-color:#2B1800;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }